<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ420D256F</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1108157807</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx694139f9a53f0739</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneshare</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkfriend</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>wtlogintimV1</string>
		<string>mqqwpa</string>
		<string>wtloginmqq</string>
		<string>wtloginmqq2</string>
		<string>weixinULAPI</string>
		<string>SmartSchool</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>2d995e19e078c</string>
	<key>MOBAppSecret</key>
	<string>a38bb9e0313e0b5c467af9a7b7e202dc</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机，将被用于头像、二维码识别等功能</string>
	<key>NSContactsUsageDescription</key>
	<string>拨打电话给联系人时，需要授权通讯录访问，通讯录数据只做本地匹配，不会上传到网络或用于其它用途</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>“定位”、“导航”、“天气”等功能需要访问你的位置信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>“定位”、“导航”、“天气”等功能需要访问你的位置信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>“定位”、“导航”、“天气”等功能需要访问你的位置信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问手机的麦克风，以便正常使用语音查找联系人、启动应用等服务</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问相册，将被用于头像、二维码识别等功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册，将被用于头像、二维码识别等功能 </string>
	<key>PlatformInfo</key>
	<dict>
		<key>AlbbManKey</key>
		<string>24733473</string>
		<key>AlbbManSecret</key>
		<string>9eebd8e2c1a87ededcb3cf1c6913923f</string>
		<key>AmapApiKey</key>
		<string>403c153959972532b5854bf44c1090d0</string>
		<key>QQAppID</key>
		<string>1108339794</string>
		<key>QQAppSecret</key>
		<string>aed9b0303e3ed1e27bae87c33761161d</string>
		<key>UniversalLink</key>
		<string>https://awfv.t4m.cn</string>
		<key>WechatAppID</key>
		<string>wx694139f9a53f0739</string>
		<key>WechatAppSecret</key>
		<string>0749b4da2c14125c1545c48f054493db</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
